


@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.resimSlider {
  height: 600px;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
}

.carousel-item img {
  object-fit: cover;
}
.hakkimizda {
  background-color: #f2f2f2;
}

.ayrac {
  border: none;
  border-top: 3px solid #343a40;
  max-width: 250px;
  margin: 25px auto;
}
.ibeyaz {
  color: #343a40;
  position: relative;
  top: -55px;
  font-size: 40px;
  border: 10px solid #ffff;
  background-color: #fff;
}

.igri {
  color: #343a40;
  position: relative;
  top: -55px;
  font-size: 40px;
  border: 10px solid #f2f2f2;
  background-color: #f2f2f2;
}

.ekipCard img:hover {
  opacity: 0.8;
}

.galeri {
  background-color: #f2f2f2;
}

.form-group {
  display: flex;
  gap: 10px;
  
  
}